body {
    background-color: white;
    font-family: sans-serif;
    height: 100%;
    width: 100%;
    margin: 0px;
}

.page-header {
    height: 15%;
    width: 100%;
    background-color: #CE1141;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

.header-goat {
    height: 100%;
    width: 100px;
    margin-right: 5px;
    border: none;
}

.page-header-text {
    display: flex;
    justify-content: center;
    font-size: 85px;
    color: white;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.page-header-icons {
    display: flex;
    justify-content: center;
}

.page-header-icons a {
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.page-header-icons a:hover {
    font-size: 30px;
}

.page {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
}

svg {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
}

g {
    width: 100%;
    height: 100%;
}

h1 {
    color: #CE1141;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

rect {
    fill: #CE1141;
    stroke: black;
}

.main img {
    border: 1px solid black;
    border-radius: 5px;
}

.main p {
    background-color: lightgrey;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.terms { 
    position: absolute;
    left: 0;
    width: 100%;
}

.stick {
    position: fixed;
    top: 0;
}

.terms-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    background-color: #CE1141;
    padding: 5px;
    border: 1px black solid;
    width: 7%;
}

.terms-title {
    height: 25px;
    color: white;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.terms-title-hide {
    display: none;
}

.terms-title-info {
    color: white;
    font-size: 13px;
}

.terms-list {
    padding-left: 0;
    margin: 0;
    display: none;
}

.terms-list-show {
    width: 7%; 
    border: 1px black solid;
    font-size: .7em;
    border: 1px solid black;
    border-radius: 2px;
    background-color: #CE1141;
    display: block; 
    list-style: none;
    padding-left: 0;
    margin: 0;
    color: white;
    list-style-position: outside;
}

.terms-list-show div {
    height: 13px;
    color: white;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.terms-list-show li {
    padding: 2px;
    display: block;
} 
.intro {
    width: 45%;
}
.opening {
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgrey;
}

.bar-section {
    margin-top: 40px;
    display: flex;
    width: 80%;
}

.bar-graph {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-graph-info {
    margin-left: 5%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bar-graph-info img {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.first-img-text {
    margin-top: 5px;
    opacity: 0;
}

.first-img-text-show {
    opacity: 1;
    width: auto;
    height: auto;
    text-align: center;
}

.first-img {
    width: 80%;
    height: 60%;
}

.line-section {
    margin-top: 40px;
    display: flex;
    width: 80%;
}

.line-graph-info {
    width: 40%;
}

.line-graph-info img, div {
    width: 100%;
}

.line-graph-container {
    width: 60%
}

.second-img-text {
    margin-top: 5px;
    display: none;
}

.second-img-text-show {
    margin-top: 5px;
    display: block;
}


.closing {
    margin-top: 40px;
    width: 45%;
}

.goat-img-outer {
    background-color: transparent;
    width: 600px;
    height: 400px;
    perspective: 1000px;
}

.goat-img-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.goat-img-outer:hover .goat-img-inner {
  transform: rotateY(180deg);
}

.goat-front, .goat-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.goat-back {
  transform: rotateY(180deg);
}

.flip-pic {
    height: 100%;
    width: 100%;
}

select {
    border: 1px solid black;
}
.MJ-year-dropdown {
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.MJ-year {
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #CE1141;
    width: 200px;
    height: 40px;
    text-align-last: center;
}

.line-graph-container {
    display: flex;
    flex-direction: column;
}

.line-graph-info {
    padding-right: 30px;
}

.line-graph-primary {
    display: flex;
}

.line-graph-buttons {
    display: flex;
    justify-content: center;
}

.line-graph-buttons button {
    margin-top: 10px;
    margin-right: 20px;
}

button {
    height: 30px;
    width: 120px;
    border-radius: 2px;
    border: 1px solid black;
}

.larry-button {
    background-color: green;
    /* border: 1px solid white; */
    color: white;
}

.magic-button {
    background-color: #6F257F;
    /* border: 1px solid gold; */
    color: white;
}

.lebron-button {
    background-color:  #041E42;
    /* border: 1px solid #860038; */
    /* color: #860038; */
    color: white;

}

.stats-dropdown {
    display: flex;
    justify-content: center;
}

.stat {
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #CE1141;
    width: 200px;
    height: 40px;
    text-align-last: center;
}
.jordan-line {
    fill: none;
    stroke: #CE1141;
    stroke-width: 2;
}

.bird-line {
    fill: none;
    stroke: green;
    stroke-width: 2;
}

.johnson-line {
    fill: none;
    stroke: purple;
    stroke-width: 2;
}

.james-line {
    fill: none;
    stroke: #041E42;
    stroke-width: 2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.closing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.goat-img {
    height: 200px;
    width: 200px;
}

.footer {
    margin-top: 10px;
    height: 100px;
    width: inherit;
    background-color: #CE1141;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
}

.footer-text {
    background-color: none;
}

.footer-name {
    background-color: none;
    text-decoration: none;
    color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-name p {
    margin: 10px;
}

.footer-name a {
    text-decoration: none;
    color: white;
}

.footer-icons {
    display: flex;
    justify-content: center;
}
.footer-icons a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.footer-icons a:hover {
    font-size: 30px;
}

.footer-name a:hover {
    font-style: italic;
}

.terms-list, .terms-button:hover, img:hover, select:hover, button:hover {
    cursor: pointer;
}
