body {
    background-color: white;
    font-family: sans-serif;
}

.page {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
}

svg {
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 5px;
}

h1 {
    color: #CE1141;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

rect {
    fill: #CE1141;
    stroke: black;
}

img, p {
    border: 1px solid black;
    border-radius: 5px;
}

p {
    background-color: lightgrey;
    padding: 5px;
}

.terms-list {
    display: none;
}

.terms-list-show {
    display: block;
}

.opening {
    width: 600px;
    border: 1px solid black;
    padding: 5px;
    border-radius: 5px;
    background-color: lightgrey;
}

.bar-section {
    margin-top: 40px;
    display: flex;
    width: 80%;
}

.bar-graph {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-graph-info {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.bar-graph-info p {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: lightgrey;
}

.bar-graph-info img {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.first-img-text {
    margin-top: 5px;
    display: none;
}

.first-img-text-show {
    margin-top: 5px;
    display: block;
}
.first-img {
    width: 80%;
    height: 60%;
}

.line-section {
    margin-top: 40px;
    display: flex;
    width: 80%;
}

.second-img-text {
    margin-top: 5px;
    display: none;
}

.second-img-text-show {
    margin-top: 5px;
    display: block;
}


.closing {
    margin-top: 40px;
    width: 600px;
}

.goat-img-outer {
    background-color: transparent;
    width: 600px;
    height: 400px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
}

.goat-img-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.goat-img-outer:hover .goat-img-inner {
  transform: rotateY(180deg);
}

.goat-front, .goat-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.goat-front {
  background-color: #bbb;
  color: black;
}

.goat-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.flip-pic {
    height: 100%;
    width: 100%;
}

.MJ-year-dropdown {
    display: flex;
    justify-content: center;
}

.MJ-year {
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #CE1141;
    width: 200px;
    height: 40px;
    text-align-last: center;
}

.line-graph-container {
    display: flex;
    flex-direction: column;
}

.line-graph-info {
    padding-right: 30px;
}

.line-graph-primary {
    display: flex;
}

.line-graph-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.line-graph-buttons button {
    margin-top: 10px;
    margin-right: 20px;
}

button {
    height: 30px;
    width: 100px;
    border-radius: 2px;
    border: 1px solid black;
}

.larry-button {
    background-color: green;
    /* border: 1px solid white; */
    color: white;
}

.magic-button {
    background-color: #6F257F;
    /* border: 1px solid gold; */
    color: gold;
}

.lebron-button {
    background-color:  #041E42;
    /* border: 1px solid #860038; */
    color: #860038; 

}

.stats-dropdown {
    display: flex;
    justify-content: center;
}

.stat {
    color: white;
    font-size: 17px;
    font-weight: 600;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: #CE1141;
    width: 200px;
    height: 40px;
    text-align-last: center;
}
.jordan-line {
    fill: none;
    stroke: #CE1141;
    stroke-width: 2;
}

.bird-line {
    fill: none;
    stroke: green;
    stroke-width: 2;
}

.johnson-line {
    fill: none;
    stroke: purple;
    stroke-width: 2;
}

.james-line {
    fill: none;
    stroke: #041E42;
    stroke-width: 2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: #F1F3F3;
  stroke: #6F257F;
  stroke-width: 5px;
}

.closing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goat-img {
    height: 200px;
    width: 200px;
}